<%= form_with(url: search_tag_path, local: true, method: :get) do |form| %>
  <fieldset>
    <div class="select">
      <%= form.select :name, tags %>
    </div>
    <div class="actions">
      <%= form.submit 'search by tag' %>
    </div>
  </fieldset>
<% end %>
